model_config_list {
  config {
    name: 'first_model'
    base_path: '/models/first_model'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: 'second_model'
    base_path: '/models/second_model'
    model_platform: 'tensorflow'
    model_version_policy {
      all {
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
    version_labels {
      key: 'canary'
      value: 2
    }
  }
  config {
    name: 'third_model'
    base_path: '/models/third_model'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
  }
}